# History files
.Rhistory
*.asv

# Example code in package build process
*-Ex.R
*.txt
*.jpg

imaging_1/contest/vgg-mkl-class-1.1/
imaging_1/contest/vlfeat/
imaging_2/vlfeat/
*.png
*.tif
*.tiff

*.tar
*.gz
*.zip
*.7z
*.7zip
*.csv
*.mat
*.pdf
*.html
*.htm